<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Measure Noise Page</title>
    <link rel="stylesheet" href="../assets/styles/style.css">
    <link rel="stylesheet" href="../assets/styles/responsive.css">
</head>
<body>
<header>
    <div class="header_container">
        <div class="header_container_inner d-flex justify-content-space-between align-items-center">
            <a href="HomePage.html" class="logo f-600 fs-24 c-orange">Logo</a>
            <div class="log_out_button d-flex justify-content-center align-items-center myBtnRegistration">
                <a href="HomePage.html">
                    <div class="fs-16 f-500 c-white myBtnRegistration">Log Out</div>
                </a>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="measurement_container d-flex fd-column">
        <div class="measure_noise_block d-flex fd-column">
            <div class="measure_noise_block_inner">
                <div class="d-flex justify-content-space-between align-items-center clear_block fw_wrap">
                    <span class="fs-24">Let’s measure the noise</span>
                    <a href="MeasureNoisePage.html"><div class="clear_button c-white d-flex align-items-center justify-content-center">Clear all</div></a>
                </div>
                <div class="" style="margin-top: 32px">
                    <span class="fs-18">Fill in the room details</span>
                    <div class="d-flex fw_wrap justify-content-space-between inputs_blocks">
                        <div class="inputs_block1 d-flex fd-column">
                            <div class="d-flex fd-column measure_noise_input_cont">
                                <label for="" class="fs-16">Room Dimensions</label>
                                <div class="measure_noise_input_block d-flex justify-content-center align-items-center">
                                    <input type="text" class="measure_noise_input" placeholder="Enter floor area(m2) x height(m), alternatively length">
                                    <input class="d-flex align-items-center justify-content-center fs-14 input_2" placeholder="0 m3"/>
                                </div>
                            </div>
                            <div class="d-flex fd-column measure_noise_input_cont">
                                <label for="" class="fs-16">Daytime LAeq,16h dB(A)</label>
                                <div class="measure_noise_input_block d-flex align-items-center">
                                    <input type="text" class="measure_noise_input" placeholder="Spectra from 125 - 2000 Hz">
                                    <input  class="d-flex align-items-center justify-content-center fs-14 input_2" placeholder="0 dB(A)"/>                                </div>
                            </div>
                            <div class="d-flex fd-column measure_noise_input_cont">
                                <label for="" class="fs-16">Night-time LAeq,8h dB(A)</label>
                                <div class="measure_noise_input_block d-flex align-items-center">
                                    <input type="text" class="measure_noise_input" placeholder="Spectra from 125 - 2000 Hz">
                                    <input  class="d-flex align-items-center justify-content-center fs-14 input_2" placeholder="0 dB(A)"/>
                                </div>
                            </div>
                            <div class="d-flex fd-column measure_noise_input_cont">
                                <label for="" class="fs-16">Ventilation LAFmax dB(A)</label>
                                <div class="measure_noise_input_block d-flex justify-content-center align-items-center">
                                    <input type="text" class="measure_noise_input" placeholder="Spectra from 125 - 2000 Hz">
                                    <input  class="d-flex align-items-center justify-content-center fs-14 input_2"  placeholder="0 dB(A)"/>
                                </div>
                            </div>
                            <div class="d-flex fd-column measure_noise_input_cont">
                                <label for="" class="fs-16">Overheating LAFmax dB(A)</label>
                                <div class="measure_noise_input_block d-flex align-items-center">
                                    <input type="text" class="measure_noise_input" placeholder="Spectra from 125 - 2000 Hz">
                                    <input class="fs-16 d-flex align-items-center justify-content-center fs-14 input_2" placeholder="0 dB(A)"/>
                                </div>
                            </div>
                        </div>
                        <div class="inputs_block2">
                            <div class="d-flex fd-column measure_noise_input_cont">
                                <label for="" class="fs-16">Element Type</label>
                                <div class="measure_noise_input_block d-flex justify-content-center align-items-center">
                                    <select name="" id="" class="measure_noise_select">
                                        <option value="1">Select type</option>
                                        <option value="2">Glazing</option>
                                        <option value="3">Wall</option>
                                        <option value="3">Door</option>
                                        <option value="3">OpenArea</option>
                                        <option value="3">Vent</option>
                                    </select>
                                </div>
                            </div>
                            <div class="d-flex fd-column measure_noise_input_cont">
                                <label for="" class="fs-16">Area</label>
                                <div class="measure_noise_input_block d-flex justify-content-center align-items-center">
                                    <input type="text" class="measure_noise_input" placeholder="Type area">
                                    <input  class="d-flex align-items-center justify-content-center fs-14 input_2" placeholder="m2"/>
                                </div>
                            </div>
                            <div class="d-flex fd-column measure_noise_input_cont">
                                <label for="" class="fs-16">Quieter Facade</label>
                                <div class="measure_noise_input_block d-flex justify-content-center align-items-center">
                                    <select name="" id="" class="measure_noise_select">
                                        <option value="1">Select Facade</option>
                                        <option value="2">Main Facade</option>
                                        <option value="3">1dB quieter</option>
                                        <option value="3">2dB quieter</option>
                                        <option value="3">3dB quieter</option>
                                        <option value="3">4dB quieter</option>
                                        <option value="3">5dB quieter</option>
                                        <option value="3">6dB quieter</option>
                                        <option value="3">7dB quieter</option>
                                        <option value="3">8dB quieter</option>
                                        <option value="3">9dB quieter</option>
                                        <option value="3">10dB quieter</option>
                                    </select>
                                </div>
                            </div>
                            <div class="d-flex fd-column measure_noise_input_cont">
                                <label for="" class="fs-16">Filter</label>
                                <div class="measure_noise_input_block d-flex justify-content-center align-items-center">
                                    <input type="text" class="measure_noise_input" placeholder="Enter keyword"/>
                                </div>
                            </div>
                            <a href="MeasureNoisePageActive.html"><button class="submit_button c-white">Submit</button></a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="measurement_result_block">
            <div class="measure_noise_block_inner">
                <div class="d-flex justify-content-space-between align-items-center clear_block">
                    <span class="fs-24">Results</span>
                </div>
                <div class="result_block d-flex align-items-center justify-content-center fs_20">
                    <div class="d-flex align-items-center justify-content-center">
                       You have no  results yet
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>

</script>
</body>
</html>