<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script language="javascript" type="text/javascript" src = "static/indexfunctions.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>   
</head>


<header>

    <!--
      <div class="container">
      <strong><nav>
        <ul  id = "mainMenu" class="menu">
            <li><a> Home</a></li>
            <li><a> About</a></li>
        </ul>
      </nav></strong>
    </div>
  -->

    

  <!-- ss- -->


    {% block head %}
    {% endblock %}
</heade>
<body>
    {% block body %}{% endblock %}
</body>
</html>