<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script language="javascript" type="text/javascript" src = "{{url_for('static',filename='indexfunctions.js')}}"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='assets/styles/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/styles/responsive.css')}}">
</head>

<header>
    <div class="header_container">
        <div class="header_container_inner d-flex justify-content-space-between align-items-center">
            <a href="/" class="logo f-600 fs-24 c-orange">Logo</a>
            <div class="header_container_block2 d-flex justify-content-space-between align-items-center">
                <div class="login_button fs-16 f-500 myBtnLogIn">Log in</div>
                <div class="registration_button d-flex justify-content-center align-items-center myBtnRegistration">
                    <div class="fs-16 f-500 c-white myBtnRegistration">Registration</div>
                </div>
            </div>
        </div>
    </div>
</header>

    <!--
      <div class="container">
      <strong><nav>
        <ul  id = "mainMenu" class="menu">
            <li><a> Home</a></li>
            <li><a> About</a></li>
        </ul>
      </nav></strong>
    </div>
  -->

    

  <!-- ss- -->


    {% block head %}
    {% endblock %}
</heade>
<body>
    {% block body %}{% endblock %}
</body>

    <script src="{{url_for('static',filename='assets/js/Modal.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/ShowHidePass.js')}}"></script>
</html>