{% extends 'base.html' %}

{% block head %}
<title>Help</title>

<script language="javascript" type="text/javascript">

</script>


{% endblock %}

{% block body %}
<div class="container">
    <div class = "measurement_result_block" >
        <div class = "container measure_noise_block_inner">
            <p class="home_container_block1_text1 fs-24 f-600 c-black">Help for entry fields</p>
            <div class = "row">
                <p></p>
                <div class = "col-6" >
                    <p class = "TopForm">One can enter up to four types of noise levels which the facade is exposed to.
                        <ul>
                            <li>The energy "average" noise levels over a 16 hour daytime period (L<sub>Aeq16h</sub>) </li>
                            <li>The energy "average" noise levels over an 8 hour night-time period (L<sub>Aeq8h</sub>)</li>
                            <li>The 10 highest impulsive noise level of an 8 hour night-time period    (L<sub>Aeq8h</sub>)</li>    
                            <li>The 1highest impulsive noise level of an 8 hour night-time period    (L<sub>Aeq8h</sub>)</li>    
                        </ul>
                        You can enter the noise level at the facade as an overall level in the left hand entry box or 
                        the spectra at each octave band from 125 Hz to 2000 Hz, sepearated by "-" or "/"
                </div>
                <div class = "col-1" >
                </div>
                <div class = "col-5" >
                    <img src="{{url_for('static',filename='assets/images/HelpNoiseEntry.png')}}" alt="" > 
                </div>
            </div>
            <br><hr><br>
            <div class = "row">
                <div class = "col-6"  ">
                    Enter either 
                    <ul>
                        <li>The volume in cubic metres (m<sup>3</sup>) OR</li>
                        <li>The area (m<sup>3</sup>) x height (m) OR </li>
                        <li>3 dimensions (length (m) x width (m) x height (m) )</li>
                    </ul>
                </div>
                <div class = "col-1" >
                </div>
                <div class = "col-5" >
                    <img src="{{url_for('static',filename='assets/images/HelpRoomDimensions.png')}}" alt=""  > 
                </div>
            </div>
            <br><hr><br>
            <div class="row" >
                <div class = "col-6"  ">
                    From drop-down list enter the type of element you wish to include on the facade. 
                </div>
                <div class = "col-1" >
                </div>
                <div class = "col-5" >
                    <img src="{{url_for('static',filename='assets/images/HelpType.png')}}" alt=""  > 
                </div>
            </div>
            <br><hr><br>
            <div class="row" >
                <div class = "col-6"  ">
                    Enter the area of facade of the element or equivalent area for ventilation elements. 
                </div>
                <div class = "col-1" >
                </div>
                <div class = "col-5" >
                    <img src="{{url_for('static',filename='assets/images/HelpArea.png')}}" alt=""  > 
                </div>
            </div>
            <br><hr><br>
            <div class="row" >
                <div class = "col-6"  ">
                    If this element is placed on a quieter facade than enter the number of deciBels quiter. 
                </div>
                <div class = "col-1" >
                </div>
                <div class = "col-5" >
                    <img src="{{url_for('static',filename='assets/images/HelpQuieterFacade.png')}}" alt=""  > 
                </div>
            </div>    
            <br><hr><br>
            <div class="row" >
                <div class = "col-6"  ">
                   Filter out elements that do not inclide keywords entered here. 
                </div>
                <div class = "col-1" >
                </div>
                <div class = "col-5" >
                    <img src="{{url_for('static',filename='assets/images/HelpFilter.png')}}" alt=""  > 
                </div>
            </div>        
        </div>        
    </div>        
</div>
{% endblock %}