{% extends 'base.html' %}

{% block head %}
<title>Room Details</title>

{% endblock %}
{% block body %}

<div class="container">
    <div class="home_container d-flex justify-content-space-between align-items-center">
        <div class="home_container_block1 d-flex fd-column">
            <p class="home_container_block1_text1 fs-48 f-600">Measuring noise is</p>
            <p class="home_container_block1_text2 fs-56 f-600 c-orange">not a problem</p>
            <img src="static/assets/images/home_pic2.png" alt="">
            <div class="fs-16">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type specimen book. It has survived
                not only five centuries, but also the leap into electronic typesetting, remaining essentially
                unchanged.
            </div>
          <div class="form">
            <form action="/" method="POST">
              <button class="Lets_start_button d-flex justify-content-center align-items-center">
             Lets start !</button>
            </form>
          </div>
        </div>
        <div class="home_container_main_pic">
            <img src="static/assets/images/home_main_pic.png" alt="">
        </div>
    </div>

    <div id="myModalRegistration" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <a href="HomePage.html" class="back_home d-flex align-items-center fs-16"><img
                    src="static/assets/images/back_page_arrow.png" alt="">Back to Home Page</a>
            <div class="d-flex fd-column justify-content-center align-items-center">
                <p class="welcome fs-48">Welcome</p>
                    <form action="/register"  method="POST">

                        <div class="inputs_block d-flex fd-column justify-content-center align-items-center">
                            <input type="text" require='true'  name="full_name" placeholder="Full Name" class="input_text c-grey fs-16"/>
                            <input type="email" require='true'  name="email" placeholder="Email" class="input_text c-grey fs-16"/>
                            <div class="pass_block">
                                <input type="password" require='true' name="password" placeholder="Password" class="input_pass c-grey fs-16 passwordInput"
                                       id="passwordInput1"/>
                                <img src="static/assets/images/not_show_pass.png" alt=""
                                     style="cursor: pointer" class="togglePassword">
                            </div>
                            <div class="pass_block">
                                <input type="password" require='true'  name="confirm" placeholder="Confirm password"
                                       class="input_pass c-grey fs-16 confirmPasswordInput"
                                       id="passwordInput2"/>
                                <img src="static/assets/images/not_show_pass.png" alt=""
                                     style="cursor: pointer" class="toggleConfirmPassword">
                            </div>

                            <button class="btn_registration c-white f-500 fs-16">Registration</button>
                        </form>
                    <div class="have_account fs-16">Already have an account? <span
                            class="c-orange myBtnLogIn">log In</span></div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalLogIn" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <a href="HomePage.html" class="back_home d-flex align-items-center fs-16"><img
                    src="static/assets/images/back_page_arrow.png" alt="">Back to Home Page</a>
            <div class="d-flex fd-column justify-content-center align-items-center">
                <p class="welcome fs-48">Welcome</p>
                <div class="inputs_block d-flex fd-column justify-content-center align-items-center">

                    <form action="/login"  method="POST">

                    <input type="email" name="email" placeholder="Email" class="input_text c-grey fs-16">
                    <div class="pass_block">
                        <input type="password" name="password" placeholder="Password" class="input_pass c-grey fs-16 loginPasswordInput"
                               id="passwordInput3"/>
                        <img src="static/assets/images/not_show_pass.png" alt=""
                             style="cursor: pointer" class="toggleLoginPassword">
                    </div>
                    <div class="fs-16 d-flex justify-content-end myBtnForgetPass"
                         style="margin-top: -10px; width: 100%; cursor: pointer">Forget password ?
                    </div>
                    <button class="btn_login c-white">Log In
                    </button>

                    </form>
                    <div class="have_account fs-16">Don't have an account? <span class="c-orange myBtnRegistration">Registration</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalForgetPass" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <a href="HomePage.html" class="back_home d-flex align-items-center fs-16"><img
                    src="static/assets/images/back_page_arrow.png" alt="">Back to Home Page</a>
            <div class="d-flex fd-column justify-content-center align-items-center">
                <p class="welcome fs-48">Forgot password</p>
                <p style="text-align: center">Please enter your email address so we can send you an email to reset your
                    password.</p>
                <div class="inputs_block d-flex fd-column justify-content-center align-items-center">
                    <div class="d-flex fd-column  justify-content-end" style="margin-top: -20px">
                        <label for="">Email Address</label>
                        <input type="email" placeholder="Email" class="input_text c-grey fs-16">
                    </div>
                    <button class="btn_login c-white f-500 fs-16 myBtnCheckEmail">Send</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalCheckEmail" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="d-flex fd-column justify-content-center align-items-center">
                <p class="f-500 fs_20 c-orange" style="text-align: center">Please check your email address</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}