{% extends 'base.html' %}

{% block head %}
<title>Log</title>

<script language="javascript" type="text/javascript">

</script>

{% endblock %}

{% block body %}
<div class="container">

    <div class="d-flex fd-columnenv justify-content-center align-items-center">

        <!--<p class="welcome fs-48">Wencome</p>-->



        <div class="d-flex fd-column justify-content-center align-items-center">
            <p class="welcome fs-48">Welcome</p>
            <div class="inputs_block d-flex fd-column justify-content-center align-items-center">

                <form action="/login"  method="POST">

                <input type="email" name="email" placeholder="Email" class="input_text c-grey fs-16">
                <div class="pass_block">
                    <input type="password" name="password" placeholder="Password" class="input_pass c-grey fs-16 loginPasswordInput"
                           id="passwordInput3"/>
                    <img src="static/assets/images/not_show_pass.png" alt=""
                         style="cursor: pointer" class="toggleLoginPassword">
                </div>
                <div class="fs-16 d-flex justify-content-end myBtnForgetPass"
                     style="margin-top: -10px; width: 100%; cursor: pointer">Forget password ?
                </div>
                <button class="btn_login c-white">Log In
                </button>

                </form>
                <div class="have_account fs-16">Don't have an account? <span class="c-orange myBtnRegistration">Registration</span>
                </div>

                {% if error %}
                    <p class ="welcome fs-36"><strong>Error:</strong> {{ error }}</p>
                {% endif %}

            </div>
        </div>

    </div>



</div>
{% endblock %}