{% extends 'base.html' %}

{% block head %}
<title>About</title>

<script language="javascript" type="text/javascript">

</script>


{% endblock %}

{% block body %}
<div class="container">
    <div class = "measurement_result_block" >
        <div class = "container measure_noise_block_inner">

            <p class="home_container_block1_text1 fs-24 f-600 c-black">Overview</p>
            <br>      

            <div class = "row">
                           
                <div class = "col-3" >
                    <img  src="{{url_for('static',filename='assets/images/ProPG.png')}}" alt="" style= "width:80%"   >
                </div>
                <div class = "col-6" style = "vertical-align:middle; font-size: 20px;">
                    <p>
                        Practitioners involved in the design of residential dwellings who aim to maximise acoustical and 
                        thermal comfort for their inhabitants are guided by two documents published in the UK in the 
                        last few years.
                    </p>
                    <ul>
                        <li><a class = "c-blue" href = "https://www.ioa.org.uk/sites/default/files/14720%20ProPG%20Main%20Document.pdf">
                            Professional Practice Guidance on Planning & Noise (ProPG)</a> for new residential development (2017)</a> </li>
                        <br>
                        <li><a class = "c-blue" href = "https://www.ioa.org.uk/sites/default/files/anc_-_ioa_avo_residential_design_guide_january_2020_v1.1_12_feb_2020_2.pdf">
The Acoustics Ventilation and Overheating Design Guide (AVOG)</a></li>
                    </ul>          
        
                    These documents consider the following measures of internal noise when assessing the acoustic comfort of residents. 
                    <ul>
                        <li>Average noise levels within living rooms and bedroom rooms in the daytime ( L<sub>Aeq,16h</sub>) </li>
        
                        <li>Average noise levels within bedrooms in the night-time ( L<sub>Aeq,8h</sub> ).</li>
                        
                        <li>Impulsive noise levels within bedrooms in the night-time. The 10th highest typical level (the ventilation design case L<sub>AF,max</sub>  
                        and the highest typical level  (the overheating design case  L<sub>AF,max</sub> ).</li>
                    </ul>
                        The principal aim of this web application is to enable practicioners to calculate the effect on these internal levels for 
                        differing designs of the building envelope, particularly of glazing and ventilation openings, given that the external noise levels have already been established. 
                    </p>
                    <p>
                        It cannot be used as a replacement for a formal assessment of environmental noise. Anyone seeking such an assessment should 
                        contact a member of the <a  class = "c-blue" href = "https://www.association-of-noise-consultants.co.uk">Association  of Noise Consultants</a>. 
                    </p>
                    <p>The web application was created by Sulltech Ltd as an educational project and will be maintained free to use indefinitely. 
                    If you encounter problems or have any queries or suggestions please email <a class = "c-blue" href = "mailto:info@sulltech.co.uk">info@sulltech.co.uk</a>.
                    </p>
                </div>
                <div class = "col-3" >
                    <img  src="{{url_for('static',filename='assets/images/AVOG.png')}}" alt="" style= "width:80%"   >
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class = "measurement_result_block" >
        <div class = "container measure_noise_block_inner">

            <p class="home_container_block1_text1 fs-24 f-600 c-black">Details</p>
            <br>  
            <div class = "row">
                <div class = "col-3">     
                    <img  src="{{url_for('static',filename='assets/images/BS8233.png')}}" alt="" style= "width:80%"   >
                    <br>
                </div>
                <div class = "col-6" style = "vertical-align:middle; font-size: 20px;">                
                    <p>
                        When a new dwelling is formed it is necessary to design the building envelope so that 
                        residents are not exposed to excessive noise intrusion. In the UK this is most commonly noise from 
                        road traffic.  Since the windows are the element of a room's facade offering the least resistance to noise ingress, 
                        windows must be specified to ensure that that they resist noise adequately. Generally 
                        the two factors affecting a window's performance are the thickness of its glazing (thicker the better) 
                        and in the case of secondary or double glazing the distance of the void between the panes (the greater the better).
                        Residents will generally prefer the option of opening windows to ventilate their rooms (but also 
                        for other reasons). 
                        Once partially open, the open area of a window is likely to become the main source of noise ingress. So, design teams
                        aim to achieve satisfactory levels for residents with windows at least partially open or alternatively via the provision of 
                        trickle and wall vents.  If noise levels are excessive with such measures then then designers must look to other strategies such
                        as facade redesign, re-orientation of rooms away from noise sources or, as generally takes place in the UK, use of a 
                        mechanical ventilation system.
                    </p>
                    <br>
                    <p>
                        With glazing and ventilation decided one must still consider the effects of overheating on residents. 
                        The M+E team may assume that overheating be controlled by the opening of windows. However, if a room is 
                        subjected to high noise levels then opening a window to control overheating will result in the 
                        residents being exposed to excessive noise levels. The effect will be greater on south-facing façade
                        than on a north-facing one, greater on a facade facing a noise source than one shielded from a noise 
                        source and greater in south of England and London that the north. As with ventilation, physical design 
                        measures may help (reduced glazing areas, windows shutter) and again as a last resort a mechanical solution may be required.
                       	In many new dwellings occupants may have to make an undesirable choice between acoustic quality or indoor air quality 
                        and thermal comfort. 
                        </p>
                        <br>
                        <p>
                        In assessing the impact on residents, the following noise measures are considered to be of most significance. 
                        <ul>
                            <li>
                            For all living rooms and bedrooms, the  16 hour daytime average noise level (L<sub>Aeq,16hours</sub>). Levels below 35 dB(A)
                            are recommended. </li>
                            <li>
                            For bedrooms the 8 hour night-time average noise level (L<sub>Aeq,8hours</sub>). Levels below 30 dB(A)
                            are recommended. Also for bedrooms at night it is recommended that impulsive noise levels are below L<sub>AF,max</sub> 45 dB(A) for the 
                            typical 10th highest level (the ventilation design case) and below L<sub>AF,max</sub> 45 dB(A) for the highest (the overheating design 
                            case.
                            </li>
                        </ul>
                        </p>
                        <p>
                        When noise is assessed, levels outside proposed dwellings are generally determined by measurement survey at location of the new dwelling or estimated by predictive
                        modelling methods. Based on these levels internal levels are calculated for proposed facade designs. 
                        </p>
                        <p>
                        This web app allows user to calculate the effect on each of these internal noise levels for a particular design of facade.
                        In addition it permits these to be shared with other members of the design team. 
                        It was developed by Sean Sullivan of Sulltech Ltd and it is currently intended as a free to use piece of software. 
                        If it is successful it may be followed by  more comprehensive software applications. 
                        </p>
                        <p>
                        The database of element sound insulation has been assembled using data from publicly avaialble sources in particular 
                        manufacturer's data. 
                        The calculation method used is from calculated according to BS EN 12354-3 and BS 8233 and is the usual 
                        method used to estimate internal noise ingress in by practicioners in the UK. 
                    </p>
                </div>
                <div class = "col-3">     
                    <img  src="{{url_for('static',filename='assets/images/AVOG2Stage.png')}}" alt="" style= "width:80%"   >
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}